@model BookeeShop.Models.BookInformationModel
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0071)https://www.vinabook.com/ngoi-truong-moi-khi-tai-ban-062014-p57560.html -->
<html lang="vi" style="" class=" js no-touch csstransforms3d tr-directwrite tr-aa-unknown-subpixel">
<!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# books: http://ogp.me/ns/books#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BookeeShop</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/category.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/sach.css">
    <link type="text/css" rel="stylesheet" href="~/Content/chitietcss/standalone.1343766dedc66b0b9582567dec76409c.css">
    <link type="text/css" rel="stylesheet" href="~/Content/chitietcss/standalone.2320d1d154e168b45bf0f6dfa26d470c.css">

    <body itemscope="" itemtype="http://schema.org/WebPage" class="page-products-view  chrome chrome-67">

        <header id="header" class="nav-collapse flash-sale">
            <div class="header-form-container">
                <div class="container">
                    <a href="#" class="logo">
                        <i class="tikicon icon-logo-tiki"></i>
                    </a>
                    <a href="#" class="flash-sale" target="_blank">
                        <img src="~/Content/css/logo-bookee.png" style="width: 180px; height: 65px;">
                    </a>
                    <div class="form-search">
                        <form id="search_form" action="#" method="get">
                            <div class="search-wrap">
                                <div class="input">
                                    <div class="flex">
                                        <input type="text" name="q" autocomplete="off" value="" placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ...">
                                    </div>
                                </div>
                                <button type="submit" style="margin-right: 0px;padding: 0 13px 0 13px;">

                                    <span>Tìm kiếm</span>
                                </button>
                            </div>
                        </form>
                        <div id="search-suggestion" style="display: none">
                            <div data-reactroot="" class="search-suggestion" style="display: none;">
                            </div>
                        </div>
                    </div>
                    <div class="header-link">
                        <div class="user-profile item" id="header-user">
                            <div data-reactroot="">
                                <div>
                                    <a href="./login.html" style="color:white; font-size:15px">Đăng nhập/Đăng ký</a>
                                    <div id="id01" class="modal">
                                    </div>
                                </div>

                                <div class="box"><ul class="user-ajax-guest"><li id="login_link"><a href="#" title="Đăng Nhập" class="user-name-login"><span class="text">Đăng nhập</span></a></li><li class="user-name-register"><a href="https://tiki.vn/nha-sach-tiki/c8322?src=mega-menu#" title="Tạo tài khoản mới"><span class="text">Tạo tài khoản</span></a></li><li id="login_fb_link"><a class="user-name-loginfb" title="Đăng nhập bằng Facebook" href="javascript: void(0)" data-url="/customer/account/loginFacebook"><span class="icon"><i class="ico ico-facebook"></i></span><span class="text">Đăng nhập bằng Facebook</span></a></li><li id="login_google_link"><a class="user-name-login-google" title="Đăng nhập bằng Google" href="javascript: void(0)" data-url="/customer/account/login_google"><span class="icon"><i class="ico ico-google"></i></span><span class="text">Đăng nhập bằng Google</span></a></li><li id="login_zalo_link"><a class="user-name-login-zalo" title="Đăng nhập bằng Zalo" href="javascript: void(0)" data-url="/customer/account/loginZalo"><span class="icon-wrap"><span class="tikicon icon-zalo"></span></span><span class="text">Đăng nhập bằng Zalo</span></a></li></ul></div>
                            </div>
                        </div>
                        <div id="header-cart"><a data-reactroot="" rel="nofollow" href="#" class="header-cart item" admicro-data-event="ClickXemGioHang" admicro-data-auto="1" admicro-data-order="false"><i class="tikicon icon-cart"></i><!-- react-text: 3 -->Giỏ hàng<!-- /react-text --><span class="cart-count">0</span><div class="add-to-cart-success" style="display: none;"><span class="close"><i class="tikicon icon-circle-close"></i></span><p class="text"><i class="tikicon icon-circle-tick"></i><!-- react-text: 10 -->Thêm vào giỏ hàng thành công!<!-- /react-text --></p><button class="btn">Xem giỏ hàng và thanh toán</button></div></a></div>
                        <!-- Tooltip Link social -->

                    </div>
                </div>
            </div>
            <div id="main-ajax-recentlyviewed" data-impress-list-title="Header | Sản phẩm bạn đã xem">
                <div data-reactroot="" class="product-recently-content swiper-carousel-wrapper">
                </div>
            </div>
        </header>
        <div class="tygh-content clearfix no-margin-top">
            <div class="container page-product-detail">
                <div class="product-main-info">
                    <div class="clearfix">
                        <div class="image-wrap float-left">
                            <div class="image-border center cm-reload-57560" id="product_images_57560_update">

                                <div class="cm-image-wrap">



                                    <ul id="bk-list" class="bk-list clearfix">
                                        <li>
                                            <div class="bk-book book-1 bk-bookdefault">
                                                <img src="~/Content/css/31faa41dfe6feae3b7303bbb1e36db27.jpg" alt="">

                                            </div>
                                        </li>
                                    </ul>
                                    <style>

                                        .book-1 .bk-front > div,
                                        .book-1 .bk-back,
                                        .book-1 .bk-left,
                                        .book-1 .bk-front:after, .book-1 .bk-cover {
                                            background-image: url("https://www.vinabook.com/images/thumbnails/product/240x0/140457_p57560mbiatruoc.jpg");
                                            background-size: 240px auto;
                                        }

                                        .bk-list li .bk-back {
                                            background-image: url("https://www.vinabook.com/images/thumbnails/excerpt/240x0/140464_p57560ebiasau.jpg");
                                            background-size: 240px auto;
                                        }

                                        .book-1 .bk-left::before {
                                            content: 'Ngôi Trường Mọi Khi - Tái bản 06/2014';
                                        }

                                        .bk-list li .bk-book, .bk-list li .bk-page, .bk-list li .bk-front,
                                        .bk-list li .bk-back,
                                        .bk-list li .bk-front > div, .bk-list li .bk-right, .bk-list li .bk-left {
                                            height: 406px;
                                        }

                                        .book-1 .bk-left::before {
                                            width: 407px;
                                            margin-top: 183px;
                                            margin-left: -183px;
                                        }

                                        .bk-info {
                                            margin-top: 426px;
                                        }
                                    </style>

                                </div>

                            </div>

                            <div class="clear"></div>
                            <ul class="social-buttons social-buttons_ul"></ul>



                        </div>
                        <div class="product-info">

                            <h1 class="mainbox-title" itemprop="name">@Html.DisplayFor(m => Model.BookName)</h1>
                            
                            <div class="product-share-rating-box">
                                <div class="product-author-share">

                                    Tác giả:<span class="author" itemprop="author" title="@Model.Bookauthor">@Html.DisplayFor(m => Model.Bookauthor)</span><br>

                                    <label>Nhà xuất bản:</label> <span class="publishers" style="margin-left:100px">@Html.DisplayFor(m => Model.BookPublisher)</span><br>

                                </div>
                                <div class="clearfix">
                                    <div class="sharethis-box">
                                        <div class="fb-like fb_iframe_widget" data-href="https://www.vinabook.com/ngoi-truong-moi-khi-tai-ban-062014-p57560.html" data-width="540" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=235384486636984&amp;container_width=500&amp;href=https%3A%2F%2Fwww.vinabook.com%2Fngoi-truong-moi-khi-tai-ban-062014-p57560.html&amp;layout=standard&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;width=540"><span style="vertical-align: bottom; width: 540px; height: 24px;"><iframe name="f2d78eaa0de1c8" width="540px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:like Facebook Social Plugin" src="~/Content/chitietcss/like(1).html" style="border: none; visibility: visible; width: 540px; height: 24px;" class=""></iframe></span></div>
                                        <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1531570685551" name="I0_1531570685551" src="~/Content/chitietcss/fastbutton.html" data-gapiattached="true" title="G+"></iframe></div>
                                    </div>
                                </div>
                                <div class="product-discussion-total-rating">
                                </div>
                            </div>

                            <div class="mainbox2-container introduction-contents">
                                <div class="mainbox2-body" itemprop="description">
                                    @Html.DisplayFor(m => Model.BookIntroduction)
                                    <!--<a title="Xem thêm Giới thiệu về nội dung Ngôi Trường Mọi Khi - Tái bản 06/2014" class="readmore-detail" href="javascript:void(0)" onclick="$.scrollToElm($('#product-full-description'));">Xem thêm</a>-->
                                </div>
                                <div class="mainbox2-bottom"><span>&nbsp;</span></div>
                            </div>
                            <div class="sub-title">Thông tin kèm theo</div>
                            <ul class="info-logistic">

                                <li><strong>Có dịch vụ bọc sách plastic cao cấp cho sách này</strong>  </li>
                                <li>Miễn phí giao hàng toàn quốc cho Đơn hàng từ 250.000đ (Áp dụng từ 1/2/2015.) </li>
                                <!-- Dat - Modified 23/4/2018
                                    Add product information included
                                -->
                            </ul>
                        </div>
                        <div class="product-info-right">
                            <div class="title">Thông tin thanh toán</div>
                            <form action="https://www.vinabook.com/" method="post" name="product_form_57560" enctype="multipart/form-data" class="cm-disable-empty-files   cm-processed-form">
                                <input type="hidden" name="result_ids" value="cart_status*,wish_list*,checkout*,account_info*">
                                <input type="hidden" name="redirect_url" value="index.php?dispatch=products.view&amp;product_id=57560&amp;sef_rewrite=1">
                                <input type="hidden" name="product_data[57560][product_id]" value="57560">
                                <div class="options-wrapper indented">
                                    <div class="cm-reload-57560" id="product_options_update_57560">
                                        <input type="hidden" name="appearance[show_product_options]" value="1">


                                        <input type="hidden" name="appearance[details_page]" value="1">
                                        <input type="hidden" name="additional_info[info_type]" value="D">


                                        <!--product_options_update_57560-->
                                    </div>

                                </div>

                                <div class="cm-reload-x indented">
                                    <div class="cm-reload-57560" id="advanced_options_update_57560">



                                        <input type="hidden" name="appearance[dont_show_points]" value="">
                                        <div class="control-group product-list-field hidden">
                                            <label>Reward points:</label>
                                            <span id="reward_points_57560">&nbsp;điểm</span>
                                        </div>
                                        <!--advanced_options_update_57560-->
                                    </div>

                                </div>
                                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="prices-container price-wrap clearfix">
                                    <div class="float-left product-prices">
                                        <span class="cm-reload-57560 old_price_update" id="old_price_update_57560">
                                            <input type="hidden" name="appearance[show_price_values]" value="1">
                                            <input type="hidden" name="appearance[show_old_price]" value="1">
                                            <span class="list-price" id="line_list_price_57560"><span class="list-price-label">Giá bìa</span> <span class="strike"><span id="sec_list_price_57560" class="list-price nowrap">0</span>&nbsp;<span class="list-price nowrap">₫</span></span></span>
                                        </span>
                                        &nbsp;
                                        <p class="actual-price">
                                            <span class="price-lable">Giá bán</span>
                                            <meta itemprop="priceCurrency" content="VND">
                                        </p><div itemprop="price" class="float-right">
                                            <span class="cm-reload-57560 price-update" id="price_update_57560">
                                                <input type="hidden" name="appearance[show_price_values]" value="1">
                                                <input type="hidden" name="appearance[show_price]" value="1">

                                                <span class="price" id="line_discounted_price_57560"> <span id="sec_discounted_price_57560" class="price-num">@Html.DisplayFor(m => Model.BookPrice)</span>&nbsp;<span class="price-num">₫</span></span>

                                                <!--price_update_57560-->
                                            </span>
                                        </div>
                                        <link itemprop="availability" href="http://schema.org/InStock">
                                        <p></p>


                                        <span class="line_discount_update cm-reload-57560" id="line_discount_update_57560">
                                            <input type="hidden" name="appearance[show_price_values]" value="1">
                                            <input type="hidden" name="appearance[show_list_discount]" value="1">
                                            <div class="list-price save-price nowrap" id="line_discount_value_57560"><span class="float-left">Tiết kiệm</span> <div class="float-right"><span id="sec_discount_value_57560" class="list-price nowrap">0</span>&nbsp;<span class="list-price nowrap">₫</span>&nbsp;<span id="prc_discount_value_57560" class="list-price nowrap">(0%)</span></div></div>
                                            <!--line_discount_update_57560-->
                                        </span>



                                        <span class="line_quality">
                                            <div class="list-price save-price nowrap">
                                                <span class="float-left">Chất lượng sách</span>
                                                <div class="float-right">
                                                    <span class="list-price nowrap">Loại A</span>
                                                    <div class="vnb-tooltip vnb-tooltip-quality">
                                                        <span class="hideShowPopUp ">
                                                            <img src="~/Content/s/icon-help-circled.png">
                                                        </span>
                                                        <div class="vnb-tooltip-content">
                                                            <div class="content">
                                                                <p>
                                                                    Sách mới 100% do từ NXB hoặc Nhà Phát Hành chuyển qua
                                                                </p>
                                                                <div class="seeMore">
                                                                    <a href="#" target="_blank"><i><p style="text-color=#66645c" ;="">Xem thêm&gt;&gt;&gt;</p></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="cm-reload-x indented box-status">

                                </div>

                                <div class="add_to_cart  cm-reload-57560 " id="add_to_cart_update_57560">
                                    <input type="hidden" name="appearance[show_add_to_cart]" value="1">
                                    <input type="hidden" name="appearance[separate_buttons]" value="1">
                                    <input type="hidden" name="appearance[show_list_buttons]" value="1">
                                    <input type="hidden" name="appearance[but_role]" value="big">
                                    <input type="hidden" name="appearance[quick_view]" value="">
                                    <label for="qty">Số lượng:</label>
                                    <select>
                                        <option value="volvo">1</option>
                                        <option value="saab">2</option>
                                        <option value="opel">3</option>
                                        <option value="audi">4</option>
                                        <option value="volvo">5</option>
                                        <option value="saab">6</option>
                                        <option value="opel">7</option>
                                        <option value="audi">8</option>
                                        <option value="opel">9</option>
                                        <option value="audi">10</option>
                                    </select>

                                    <button class="btn btn-primary btn-custom3" style="margin-left: 16px"><a href="./Thông tin khách hàng.html" style="color:white">@Html.ActionLink("Mua ngay", "InformationForBill", "Bookee", new { id = Model.BookID }, null)</button>

                                </div>
                        </div>
                        <!--add_to_cart_update_57560-->
                    </div>
                    </form>


                </div>

            </div>
        </div>
        </div></div>





