@model BookeeShop.Models.BookInformationModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookInformationModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookIntroduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookIntroduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookCoverImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookCoverImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bookauthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bookauthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookPublisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookPublisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearReleased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearReleased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookAddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookAddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
